@model IEnumerable<MvcBookStore.Models.SACH>
@{
    ViewBag.Title = "SPTheochude";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:red;">Sách theo chủ đề</h2>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="@Url.Action("Details", "BookStore",new { id = product.Masach})"><img class="card-img-top" src="~/img/@product.Hinhminhhoa" alt="" style="" width="200" height="400"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Details", "BookStore",new { id = product.Masach })">@product.Tensach</a>
                    </h4>
                    <h5>@product.Dongia</h5>
                    <p class="card-text">Số lượn còn: @product.Soluongban</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
    }

</div>

